body {
  background: #7fc7f7;
  overflow-x: hidden; }

.text-center {
  text-align: center; }

.prize_layer,
.rule_layer,
.wrapper_layer,
.invite_layer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.invite_layer .wrapper {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  transform: translateY(-50%);
  background: #f2ffe8; }
  .invite_layer .wrapper .user-operarion {
    margin-bottom: 20px;
    text-align: center; }
    .invite_layer .wrapper .user-operarion .uo_btn {
      display: inline-block;
      font-size: 24px;
      padding: 5px 40px;
      border-radius: 24px;
      background: #44980e;
      box-shadow: 0px 5px 0px #317307;
      color: #ffffff;
      margin-left: 15px; }
  .invite_layer .wrapper .text_wrapper {
    padding: 0 25px; }
  .invite_layer .wrapper .text {
    font-size: 16px;
    color: #317307; }
    .invite_layer .wrapper .text:first-child {
      margin-top: 50px;
      line-height: 2; }
    .invite_layer .wrapper .text.text_copy {
      margin-top: 8px;
      margin-bottom: 45px; }
  .invite_layer .wrapper .close {
    background: #317307;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    text-align: center; }

.wrapper_layer .wrapper {
  width: 400px;
  padding: 10px;
  border-radius: 10px;
  background: #fff;
  position: relative;
  left: 50%;
  top: 50%;
  margin-left: -210px;
  transform: translateY(-50%); }
  .wrapper_layer .wrapper .user-operarion {
    margin-bottom: 20px;
    text-align: center; }
    .wrapper_layer .wrapper .user-operarion .uo_btn {
      display: inline-block;
      font-size: 24px;
      padding: 5px 40px;
      border-radius: 24px;
      background: #44980e;
      box-shadow: 0px 5px 0px #317307;
      color: #ffffff;
      margin-left: 15px; }
      .wrapper_layer .wrapper .user-operarion .uo_btn:first-child {
        margin-left: 0;
        background: #ffd923;
        box-shadow: 0px 5px 0px #feb70b;
        color: #564000; }
  .wrapper_layer .wrapper .tips {
    font-size: 24px;
    color: #317307;
    margin: 28px 0; }
  .wrapper_layer .wrapper .close {
    background: #317307;
    font-size: 24px;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    width: 24px;
    height: 24px;
    line-height: 24px;
    position: absolute;
    right: 10px;
    top: 10px;
    cursor: pointer;
    text-align: center; }

.common_w {
  width: 1200px;
  margin: 0 auto; }

img {
  vertical-align: middle; }

.world-top {
  width: 100%;
  padding-bottom: 51.6666%;
  background: url("../images/topBg_01.png") no-repeat center;
  background-size: cover; }

.world-main {
  margin-top: -6.5%;
  height: 1203px;
  background: url("../images/world-main_02.png") no-repeat center; }
  .world-main .world-main-con {
    height: 100%;
    position: relative;
    overflow: hidden; }
    .world-main .world-main-con .jiuqiu {
      width: 768px;
      height: 348px;
      background: url("../images/jinqiu.png") no-repeat center;
      margin: 0 auto;
      margin-top: 58px; }
      .world-main .world-main-con .jiuqiu .jinqiu_shoot {
        display: none;
        position: absolute;
        top: -253px;
        left: 12%;
        z-index: 1; }
      .world-main .world-main-con .jiuqiu .jinqiu_btn {
        position: absolute;
        display: block;
        width: 297px;
        height: 115px;
        top: 190px;
        right: 111px;
        background: url("../images/jinqiu_btn.png") no-repeat; }
        .world-main .world-main-con .jiuqiu .jinqiu_btn p {
          color: #bb6017;
          text-align: center;
          margin-top: 68px; }

.zjWrapper {
  width: 670px; }
  .zjWrapper .zj_num .num_item {
    width: 50%;
    text-align: center;
    padding: 60px 0;
    color: #333;
    float: left;
    font-size: 20px; }

.jpWrapper {
  width: 530px;
  box-sizing: border-box;
  padding: 0px 94px; }
  .jpWrapper .zjUserWrapper .zuw_top {
    height: 10px;
    background: #54ad18; }
  .jpWrapper .zjUserWrapper .zuw_detail {
    margin: 0 6px;
    background: #e3f6ca;
    padding: 0 20px; }
    .jpWrapper .zjUserWrapper .zuw_detail .titleWrapper {
      padding: 0 44px;
      margin-bottom: 15px; }
    .jpWrapper .zjUserWrapper .zuw_detail .detailWrapper {
      height: 300px;
      overflow: hidden; }
      .jpWrapper .zjUserWrapper .zuw_detail .detailWrapper .dw-item {
        width: 33.333%;
        text-align: center;
        font-size: 12px;
        color: #333;
        margin-bottom: 20px; }
        .jpWrapper .zjUserWrapper .zuw_detail .detailWrapper .dw-item.dw-item-first {
          font-weight: bold; }
    .jpWrapper .zjUserWrapper .zuw_detail .title {
      color: #255c00;
      font-size: 24px;
      font-weight: bold;
      text-align: center;
      padding: 13px 0;
      border-bottom: 2px solid #54ad18; }
  .jpWrapper .jp_num {
    color: #333;
    font-size: 18px;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 38px; }
  .jpWrapper .zj-warning {
    margin: 21.5px 0px; }
  .jpWrapper .zw-item {
    background: url("../images/zj_btn_warn.png") no-repeat;
    width: 137px;
    height: 117px;
    position: relative;
    cursor: pointer; }
    .jpWrapper .zw-item:first-child {
      margin-right: 68px; }
    .jpWrapper .zw-item p {
      position: absolute;
      left: 50%;
      color: #e63928;
      font-size: 17.82px;
      font-weight: bold;
      margin-left: -31.64px;
      top: 38px; }

.rule_wrapper {
  width: 1052px;
  background: #f2ffe8;
  padding: 14px 20px 18px 48px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  margin-left: -554px;
  top: 50%;
  margin-top: -310px;
  z-index: 9; }
  .rule_wrapper .title {
    font-size: 24px;
    color: #317307;
    font-weight: bold;
    text-align: center;
    position: relative; }
    .rule_wrapper .title .close_rule {
      background: #317307;
      font-size: 24px;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      right: 0;
      cursor: pointer; }
  .rule_wrapper .group {
    margin-bottom: 17px; }
    .rule_wrapper .group .group-title {
      line-height: 1.75;
      font-size: 18px;
      font-weight: bold;
      color: #333; }
    .rule_wrapper .group .group-text {
      line-height: 2;
      padding-left: 8px; }
      .rule_wrapper .group .group-text .gt_xuanxiang {
        font-size: 16px;
        color: #666; }
      .rule_wrapper .group .group-text .gt_desc {
        text-indent: 1.5em;
        font-size: 14px;
        color: #999; }

.prize_wrapper {
  background: #f2ffe8;
  padding: 14px 20px;
  border-radius: 10px;
  width: 370px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -205px;
  margin-top: -178px;
  z-index: 9;
  height: 356px;
  overflow: hidden; }
  .prize_wrapper ul:last-child {
    margin-bottom: 12px; }
  .prize_wrapper .prize_item {
    font-size: 14px;
    color: #666;
    width: 33.33%;
    text-align: center;
    margin-top: 19px; }
    .prize_wrapper .prize_item.prize_title {
      font-weight: bold;
      color: #333333; }
  .prize_wrapper .title {
    font-size: 24px;
    color: #317307;
    font-weight: bold;
    text-align: center;
    position: relative; }
    .prize_wrapper .title .close_prize {
      background: #317307;
      font-size: 24px;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      right: 0;
      cursor: pointer; }

.world-guess .guess_submit {
  width: 100%;
  color: #FFFFFF;
  font-size: 22px;
  border-radius: 10px;
  background: #036ab0;
  text-align: center;
  padding: 8px 0;
  outline: none;
  margin-top: 15px;
  margin-bottom: 35px; }
.world-guess .myGuess {
  margin-top: 40px; }
  .world-guess .myGuess .myGuessContent {
    color: #333333;
    background: #f8f8f8;
    padding: 20px;
    text-align: center;
    margin-top: 12px;
    border-radius: 15px;
    font-size: 16px; }
    .world-guess .myGuess .myGuessContent li {
      padding: 9.5px 0; }
    .world-guess .myGuess .myGuessContent li span {
      display: inline-block; }
      .world-guess .myGuess .myGuessContent li span.country {
        width: 130px;
        text-align: center; }
      .world-guess .myGuess .myGuessContent li span.guess {
        color: #4bbb00; }
      .world-guess .myGuess .myGuessContent li span.guessing {
        color: #999; }
      .world-guess .myGuess .myGuessContent li span.notguess {
        color: #e63928; }
  .world-guess .myGuess .mg-title {
    position: relative; }
    .world-guess .myGuess .mg-title h3 {
      font-size: 22px;
      color: #333333;
      font-weight: normal; }
    .world-guess .myGuess .mg-title .text {
      color: #999;
      position: absolute;
      left: 100px;
      top: 6px; }
.world-guess .guess-item .guess-touzhu .guess-touzhu-choice {
  width: 50%;
  float: left;
  margin-bottom: 18px; }
  .world-guess .guess-item .guess-touzhu .guess-touzhu-choice .touzhu {
    font-size: 16px;
    color: #999;
    margin-top: 15px;
    margin-bottom: 8px; }
  .world-guess .guess-item .guess-touzhu .guess-touzhu-choice .choice_btn {
    display: block;
    font-size: 18px;
    color: #666666;
    padding: 10px 0;
    text-align: center;
    border: 1px solid #d3d3d3;
    border-radius: 28px;
    margin: 0 10px;
    box-sizing: border-box;
    height: 47px; }
    .world-guess .guess-item .guess-touzhu .guess-touzhu-choice .choice_btn.acitve {
      background: url(../images/select-team.png) no-repeat;
      background-size: cover;
      border: none;
      color: #FFFFFF; }
    .world-guess .guess-item .guess-touzhu .guess-touzhu-choice .choice_btn.selectedActive {
      background: url(../images/has-select-team.png) no-repeat;
      background-size: cover;
      border: none;
      color: #FFFFFF; }
.world-guess .guess-item .bisai-project {
  color: #333333;
  background: #f8f8f8;
  padding: 30px 0;
  text-align: center;
  margin-top: 12px;
  border-radius: 15px; }
  .world-guess .guess-item .bisai-project.spec {
    padding: 23px 0; }
    .world-guess .guess-item .bisai-project.spec i {
      font-size: 20px; }
      .world-guess .guess-item .bisai-project.spec i img {
        margin: 0 15px;
        width: 36px;
        height: 37px; }
    .world-guess .guess-item .bisai-project.spec span {
      position: relative;
      top: 5px; }
  .world-guess .guess-item .bisai-project i {
    font-size: 22px;
    font-style: normal;
    display: inline-block; }
    .world-guess .guess-item .bisai-project i img {
      margin: 0 15px; }
  .world-guess .guess-item .bisai-project span {
    font-size: 30px;
    font-weight: bold;
    position: relative;
    top: 5px; }
.world-guess .wg-content {
  margin-top: 50px;
  background: url(../images/guess_bg.png) no-repeat;
  background-size: contain;
  position: relative; }
  .world-guess .wg-content.wg-content-one {
    background: url(../images/guess_bg_one.png) no-repeat;
    background-size: contain; }
  .world-guess .wg-content .wg_cloud_left {
    position: absolute;
    top: 418.5px;
    margin-top: -56.5px;
    left: -165px;
    z-index: -1; }
  .world-guess .wg-content .wg_cloud_right {
    position: absolute;
    top: 418.5px;
    margin-top: -56.5px;
    right: -170px;
    z-index: -1; }
.world-guess .wg-title {
  font-size: 42px;
  color: #036ab0;
  font-weight: bold;
  padding-top: 35px; }
.world-guess .wg-text {
  color: #999; }
.world-guess .wg-time {
  font-size: 24px;
  color: #333333;
  text-align: center;
  margin-top: 13px; }
  .world-guess .wg-time .wg-time-daojishi {
    display: inline-block;
    font-size: 36px;
    letter-spacing: 4px; }
    .world-guess .wg-time .wg-time-daojishi span {
      font-weight: bold; }
.world-guess .todayWrapper {
  margin-top: 20px;
  padding-bottom: 38px; }
  .world-guess .todayWrapper .today-group {
    width: 473px;
    padding-left: 22px;
    padding-right: 105px; }
    .world-guess .todayWrapper .today-group:first-child {
      padding-left: 105px;
      padding-right: 22px; }
    .world-guess .todayWrapper .today-group .tg-title {
      position: relative; }
      .world-guess .todayWrapper .today-group .tg-title h3 {
        font-size: 22px;
        color: #333333;
        font-weight: normal; }
      .world-guess .todayWrapper .today-group .tg-title .text {
        color: #999;
        position: absolute;
        right: 0;
        top: 6px; }

.world_footer {
  padding: 30px 0; }

/*# sourceMappingURL=worldCup.css.map */
