$bgColor: #7fc7f7;
$greenColor: #317307;
$detailTextColor: #999;
body {
  background: $bgColor;
}
.text-center{
  text-align: center;
}
.prize_layer, .rule_layer,.wrapper_layer {
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, .3);
  z-index: 1;
}
.wrapper_layer{
  .wrapper{
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    position: relative;
    left: 50%;
    top:50%;
    margin-left: -210px;
    //margin-top: -162px;
    transform: translateY(-50%);
    .user-operarion{
      margin-bottom: 20px;
      text-align: center;
      .uo_btn{
        display: inline-block;
        font-size: 24px;
        padding: 5px 40px;
        border-radius: 24px;
        background: #44980e;
        box-shadow: 0px 5px 0px #317307;
        color: #ffffff;
        margin-left: 15px;
        &:first-child{
          margin-left:0;
          background: #ffd923;
          box-shadow: 0px 5px 0px #feb70b;
          color: #564000;
        }
      }
    }
    .tips{
      font-size: 24px;
      color: $greenColor;
      margin: 28px 0;
    }
    .close{
      background: #317307;
      font-size: 24px;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      right: 10px;
      top:10px;
      cursor: pointer;
      text-align: center;
    }
  }
}
.common_w {
  width: 1200px;
  margin: 0 auto;
}

img {
  vertical-align: middle;
}

.world-top {
  width: 100%;
  padding-bottom: 51.6666%;
  background: url("../images/topBg_01.png") no-repeat center;
  background-size: cover;
}

.world-main {
  margin-top: -6.5%;
  height: 1203px;
  background: url("../images/world-main_02.png") no-repeat center;
  .world-main-con {
    height: 100%;
    position: relative;
    overflow: hidden;
    .jiuqiu {
      width: 768px;
      height: 348px;
      background: url("../images/jinqiu.png") no-repeat center;
      margin: 0 auto;
      margin-top: 58px;
      .jinqiu_shoot{
        display: none;
        position: absolute;
        top: -253px;
        left: 12%;
      }
      .jinqiu_btn {
        position: absolute;
        display: block;
        width: 297px;
        height: 115px;
        top: 190px;
        right: 111px;
        background: url("../images/jinqiu_btn.png") no-repeat;
        p {
          color: #bb6017;
          text-align: center;
          margin-top: 68px;
        }
      }
    }
  }
}

.zjWrapper {
  width: 670px;
  .zj_num {
    .num_item {
      width: 50%;
      text-align: center;
      padding: 60px 0;
      color: #333;
      float: left;
      font-size: 20px;
    }
  }
}

.jpWrapper {
  width: 530px;
  box-sizing: border-box;
  padding: 0px 94px;
  .zjUserWrapper {
    .zuw_top {
      height: 10px;
      background: #54ad18;
    }
    .zuw_detail {
      margin: 0 6px;
      background: #e3f6ca;
      padding: 0 20px;
      .titleWrapper {
        padding: 0 44px;
        margin-bottom: 15px;
      }
      .detailWrapper {
        height: 300px;
        overflow: hidden;
        .dw-item {
          width: 33.333%;
          text-align: center;
          font-size: 12px;
          color: #333;
          margin-bottom: 20px;
          &.dw-item-first {
            font-weight: bold;
          }
        }
      }
      .title {
        color: #255c00;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        padding: 13px 0;
        border-bottom: 2px solid #54ad18;
      }
    }
  }
  .jp_num {
    color: #333;
    font-size: 18px;
    text-align: center;
    padding-top: 63px;
    margin-bottom: 38px;
  }
  .zj-warning {
    margin: 21.5px 0px;
  }
  .zw-item {
    background: url("../images/zj_btn_warn.png") no-repeat;
    width: 137px;
    height: 117px;
    position: relative;
    cursor: pointer;
    &:first-child {
      margin-right: 68px;
    }
    p {
      position: absolute;
      left: 50%;
      color: #e63928;
      font-size: 17.82px;
      font-weight: bold;
      margin-left: -31.64px;
      top: 38px;
    }
  }
}

.rule_wrapper {
  width: 1052px;
  background: #f2ffe8;
  padding: 14px 20px 18px 48px;
  border-radius: 10px;
  position: fixed;
  left: 50%;
  margin-left: -554px;
  top: 50%;
  margin-top: -310px;
  z-index: 9;
  .title {
    font-size: 24px;
    color: $greenColor;
    font-weight: bold;
    text-align: center;
    position: relative;
    .close_rule {
      background: #317307;
      font-size: 24px;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
  .group {
    margin-bottom: 17px;
    .group-title {
      line-height: 1.75;
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }
    .group-text {
      line-height: 2;
      padding-left: 8px;
      .gt_xuanxiang {
        font-size: 16px;
        color: #666;
      }
      .gt_desc {
        text-indent: 1.5em;
        font-size: 14px;
        color: $detailTextColor;
      }
    }
  }
}

.prize_wrapper {
  background: #f2ffe8;
  padding: 14px 20px;
  border-radius: 10px;
  width: 370px;
  position: fixed;
  left: 50%;
  top: 50%;
  margin-left: -205px;
  margin-top: -178px;
  z-index: 9;
  height: 356px;
  overflow: hidden;
  ul:last-child {
    margin-bottom: 12px;
  }
  .prize_item {
    font-size: 14px;
    color: #666;
    width: 33.33%;
    text-align: center;
    margin-top: 19px;
    &.prize_title {
      font-weight: bold;
      color: #333333;
    }
  }
  .title {
    font-size: 24px;
    color: $greenColor;
    font-weight: bold;
    text-align: center;
    position: relative;
    .close_prize {
      background: #317307;
      font-size: 24px;
      color: #fff;
      border-radius: 50%;
      display: inline-block;
      width: 24px;
      height: 24px;
      line-height: 24px;
      position: absolute;
      right: 0;
      cursor: pointer;
    }
  }
}

.world-guess{
  .wg-content{
    background: #ffffff;
    overflow: hidden;
  }
  .wg-title{
    font-size: 42px;
    color: #036ab0;
    font-weight: bold;
    margin-top: 35px;
  }
  .wg-text{
    color: $detailTextColor;
  }
  .wg-time{
    font-size: 24px;
    color: #333333;
    text-align: center;
    margin-top: 6px;
    .wg-time-daojishi{
      display: inline-block;
      font-size: 36px;
      letter-spacing: 4px;
      span{
        font-weight: bold;
      }
    }
  }
}